@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --secondary-bg: 44 84% 68%;
    --secondary-fg: 151 71% 32%;

    --belo: #3c00fe;
    --bybit: #522298;
    --ripio: #7809fe;
    --lemoncash: #4beb55;
    --buenbit: #ffabea;
    --fiwind: #f9bd06;
    --tiendacrypto: #6761ab;
    --satoshitango: #1d43fc;
    --letsbit: #522298;

    --main-bg: #f2f8f2;
    --sliders-bg: #d7ead7;
    --green-focus: #157a49;
    --green-main: #188c54;
    --orange-main: #eab41f;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  color: var(--green-main);
  background: var(--main-bg);
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  align-items: center;
}

.container {
  margin-top: 30px;
  margin-bottom: 50px;
}

.tooltip-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.tooltip-price {
  font-size: 1rem;
  font-weight: 600;
}

.tooltip-date {
  font-size: 0.85rem;
  font-weight: 400;
}

.title {
  color: var(--main-bg);
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 9999px;
  padding: 10px 20px;
  background-color: #12693f;
}

svg {
  max-width: 100%;
  height: auto;
}

#leftPanel {
  min-height: 100vh;
  background: linear-gradient(135deg, rgba(21, 122, 73, 1) 0%, #21c073 100%);
}

.title-secondary {
  display: none;
  margin-top: 20px;
  border-radius: 9999px;
  padding: 5px 20px;
  background-color: #e4f1e4;
  color: var(--green-main);
  font-size: 1.1rem;
  font-weight: 700;
}

button,
a,
input,
textarea,
[role="button"] {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  outline: none;
}

@media (max-width: 768px) {
  body {
    flex-direction: column-reverse;
  }

  #leftPanel {
    width: 100%;
    height: auto;
    gap: 30px;
    min-height: 0;
  }
  #chartContainer {
    height: 40vh;
    min-height: 200px;
    width: 100%;
    position: static;
  }

  #tooltip {
    position: absolute !important;
    padding: 5px 15px !important;
  }

  .tooltip-title {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
  }

  .tooltip-price {
    font-size: 0.85rem !important;
    font-weight: 600 !important;
  }
  .tooltip-date {
    font-size: 0.75rem !important;
    font-weight: 400 !important;
  }
  .title {
    display: none;
  }
  .title-secondary {
    display: block;
  }
  .exchange-list {
    width: 90%;
  }
}
